{% extends "personal/header.html"%}

{% block content %}

{% include "personal/includes/topsnippet.html"%}


<form class="form-horizontal">
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" for="formGroupInputLarge"></label>
   <div class="col-xs-6">
      <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Email">
    </div>
  </div>
</form>
{% include "personal/includes/midsnippet.html"%}

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">/r/</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>

{% endblock %}	